header {
  padding: 10px;
}

footer {
  padding: 20px 10px;
  font-size: 12px;
  text-align: center;
}

main {
  padding: 20px;
}

hr {
  color: #fff;
}

a {
  font-weight: 900;
  color: blueviolet;
  text-decoration: none;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app {
  background-image: url(https://wi.wallpapertip.com/wsimgs/96-966946_cotton-candy-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  max-width: 600px;
  padding: 30px;
  margin: 100px auto;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.8;
}

.search-form-input {
  background-color: #c8a8e9;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  font-size: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.search-button {
  width: 16%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #e3aadd;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #eb8ce1;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
  transition: all 150ms ease-in-out;
}

.weather-app-city:hover {
  transform: scale(1.05);
}

.weather-app-details {
  line-height: 25px;
  margin: 10px 0;
  font-size: 14px;
}

.weather-app-details strong {
  color: #da20c7;
}

.weather-app-temperature {
  display: flex;
}

.current-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}

.current-temperature:hover {
  transform: scale(0.9);
}

.weather-app-icon {
  width: 99px;

  transition: all 200ms ease-in-out;
}

.weather-app-icon:hover {
  transform: rotate(30deg);
}

.weather-app-degree {
  font-size: 28px;
  margin-top: 10px;
}
